<div class="content">
    <h1>About Us</h1>
    <p>
      Welcome to FitConnect, where fitness and connection come together.
      Behind the scenes, our passionate team, known as <strong>Pau Patrol</strong>, works tirelessly to make your fitness journey seamless and successful.
    </p>

    <div class="team-section">
        <div class="team-member">
          <div class="photo">
            <img src="assets/images/pau.jpg" alt="Pauline Astorga" />
          </div>
          <p class="name">Pauline Astorga</p>
          <p class="role">Leader</p>
        </div>
        <div class="team-member">
          <div class="photo">
            <img src="assets/images/noel.jpg" alt="Noel John Mateo" />
          </div>
          <p class="name">Noel John Mateo</p>
          <p class="role">Member</p>
        </div>
        <div class="team-member">
          <div class="photo">
            <img src="assets/images/allen.jpg" alt="Allen Lavina" />
          </div>
          <p class="name">Allen Lavina</p>
          <p class="role">Member</p>
        </div>
        <div class="team-member">
          <div class="photo">
            <img src="assets/images/john.jpg" alt="John Christian V. Valdez" />
          </div>
          <p class="name">John Christian V. Valdez</p>
          <p class="role">Member</p>
        </div>
    </div> 
</div>