/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
  width: 80px;
  margin-right: 30px;
}

.brand-name {
  font-size: 1.5rem;
}

.fit {
  color: #007bff;
}

.sync {
  color: #000;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 20px 30px;
}

.nav-links a:hover,
.nav-links a.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}
/* Main Content */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  gap: 50px;
}

.logo-large img {
  margin-top: 150px;
  max-width: 500px;
  height: 500px;
}

.login-form {
  width: 500px;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
}

.login-form h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.login-form p {
  margin-bottom: 15px;
  color: #666;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.options label {
  font-size: 0.9rem;
  color: #666;
}

.options a {
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.login-form a {
  color: #007bff;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

