<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="dashboard">
    <h1>Welcome Trainer to FitConnect</h1>
    
    <div *ngIf="isTrainer">
      <h2>Available Trainees</h2>
      <div class="trainer-container">
        <div class="trainer-box" *ngFor="let trainee of trainees">
          <h3>{{ trainee.name }}</h3>
          <p>{{ trainee.email }}</p>
          <div class="button-group">
           
            <button class="btn message-btn" (click)="navigateToMessages(trainee.id, trainee.name)">
              Message
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
