<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="dashboard">
    <h1>Welcome to the Dashboard!</h1>
    <button (click)="logout()">Logout</button>
  <div *ngIf="isTrainer">
    <h2>Available Trainees</h2>
    <div class="trainee-container">
      <div class="trainee-box" *ngFor="let trainee of trainee">
        <h3>{{ trainee.name }}</h3>
        <p>{{ trainee.email }}</p>
        <div class="button-group">
        
          <button class="btn message-btn">Message</button>
        </div>
      </div>
    </div>
  </div>
    <h2>Your Bookings:</h2>
    <div class="booking-container">

    </div>
  </div>
</div>


