<div class="header" *ngIf="showNavbar">
    <div class="logo">
      <img src="assets/images/FitConnectLogo.png" alt="FitConnect Logo" />
      <span><span class="blue">Fit</span><span class="black">Connect</span></span>
    </div>
    <nav class="nav-links">
        <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a [routerLink]="['/about']" routerLinkActive="active">About</a>
        <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
      </nav>
      
  </div>