<div class="main-content">
    <div class="text-section">
      <h1>
        Welcome to <span class="highlight"><span class="blue">Fit</span><span class="black">Connect</span></span>
      </h1>
      <p>Your Gateway to Personalized Fitness Success</p>
      <p>
        Take control of your fitness by choosing the perfect trainer for your goals. 
        Browse expert profiles, connect instantly, and get personalized guidance anytime.
      </p>
      <p>
        Why wait? Start now and achieve your goals with FitConnect!
      </p>
      <button class="register-btn" routerLink="/registration">Register Now!</button>
    </div>
    <div class="image-section">
      <img src="assets/images/fit.png" alt="Fit Image" />
    </div>
  </div>
  